body {
  color: black;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 14px;
}

.main-header {
  background-color: rgb(0, 0, 0);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header .container {
  padding-top: 23px;
  padding-bottom: 25px;
}

.main-header .container a,
.main-footer .container a,
.main-footer {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.container .logo {
  float: left;
  margin-left: 20px;
  margin-right: 29px;
}

.container .main-navigation {
  float: left;
  width: 540px;
}

.container .main-navigation li {
  display: inline;
  list-style: none;
}

.container .user-block {
  float: right;
  width: 140px;
}

.container .page-title {
  margin-top: 60px;
  margin-bottom: 60px;
}

.page-title .bread-crumbs li {
  display: inline;
  list-style: none;
}

.page-title .bread-crumbs a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.container .filter {
  float: left;
  width: 220px;
  margin-top: 53px;
}

.container .cards-block {
  float: right;
  width: 700px;
  margin-top: 53px;
  margin-bottom: 45px;
}

.cards-block .item-card {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.cards-block .item-card a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.item-card:nth-child(3n) {
  margin-right: 0;
}

.container .pagination {
  float: left;
  margin-left: 240px;
}

.container .gallery {
  float: left;
  width: 460px;
  margin-bottom: 49px;
}

.gallery .gallery-content {
  display: inline;
}

.gallery .gallery-content img {
  float: left;
  margin-bottom: 20px;
}

.gallery .gallery-icons a {
  float: left;
  margin-right: 20px;
}

.gallery .gallery-icons a:nth-child(3) {
  float: left;
  margin-right: 0;
}

.container .item-info {
  float: right;
  width: 390px;
}

.main-footer {
  min-height: 190px;
  padding-top: 60px;
  background-color: rgb(35, 35, 35);
}

.footer-contacts {
  float: left;
  width: 380px;
  height: 90px;
}

.footer-social {
  float: left;
  width: 380px;
  height: 90px;
  margin-left: 20px;
}

.footer-copyright {
  float: right;
  width: 140px;
  height: 90px;
}
